* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #267198;
    transition: 0.3s all;
}

nav {
    padding : 20px;
}

html {
    overflow-x: hidden;
}

.drk {
    background-color: black;
    width: 80px;
    height: 30px;
}

.dark {
    background-color: rgb(14, 13, 13);
    color:white;
    transition: 0.4s all;
}
.dark .drk {
    background-color: white;
    color: black;
    transition: 0.3s ease;
}

.wrap {
    margin-left : 30px;
    margin-right: 30px;
}

.right-logo p {
    margin-right: 20px;
}

.hero__section {
    padding: 0 40px;
}

.hero__section p {
    font-size: 50px;
    line-height: 1.8;
}


.hero__section .hero__context {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 830px;   
   }

.hero__section .img__main {
    position: relative;
    width: 100%;
    height: 650px;
    z-index: 99;
}

.hero__section .column__left{

    padding: 130px 100px 0 20px;
}

.column__left .btn {
    width: 40%;
    margin-top: 60px;
    background-color: #E04848;
    padding: 20px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    transition: 0.8s all;
}

.column__left .btn:hover {
    background-color: transparent;
    font-weight: bolder;
    border: 1px solid white;
}

#triangle {
    position: absolute;
    width: 55%;
    height: 400px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid rgb(224, 72, 72);
    right: 0px;
  }
  #triangle1 {
    position: absolute;
    width: 40%;
    height: 250px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;    
    border-top: 100px solid rgb(208, 209, 196);
    right: 0px;
    bottom: 0;
  }
  #triangle2 {
    position: absolute;
    width: 60%;
    height: 10px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid rgb(193, 206, 14);
    
    bottom: 0px;
  }


  @media screen and (max-width: 468px) {
      nav {
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 10px;
      }

      
      .nav-links {
          text-decoration: none;
          padding: 0.3px;
      }
      .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        font-size: 24px;
    }
    .right-logo {
        text-align: center;
        margin : 0;
        padding: 10px;
        display: none;
    }
    .right-logo .drk {
        width: 100%;
    }
    .active {
        font-size: 20px;
        padding: 30px;
        display: block;
        transition: 3s all;
    }

    #triangle,#triangle1,#triangle2 {
        display: none;
    }

    .hero__section .hero__context {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;   
       }

    .hero__context .column__left {
        width: 100vw;
    }

    .column__left .btn {
        width: 100%;
    }

    .hero__section {
        width: 100%;
        margin: 0;
    }
    


  }